{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div>
        {% for message in get_flashed_messages() %}
        <div class="flash" style="background-color: #FBB0B0; padding: 10px; width: 400px;">
        {% endfor %}
            {% for message in form.text.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="form">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}
